<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <%- include ('partials/header') %>  <!-- enlace al archivo de header -->
</head>
<body>
    <%- include ('partials/navegacion') %>  <!-- enlace al archivo de navegacion -->
    <div class="Textodiv">

        <h1> Empecemos por definir qué es Solidity.

         </h1>

         <p>
            Nos llama la atención que su sintaxis se basa en ECMAScript y es muy similar a JavaScript, pero tiene un tipado bastante fuerte para declarar los argumentos y los tipos de variable. 
            
            Con este proyecto es posible compilar todos aquellos contratos que se desarrollan en el código fuente de la plataforma Etherium para luego vincularlos a ella. 
            
            Fue creado en el año 2014 por algunos colaboradores que participaron en la creación de Etherium, así que fue pensado para ejecutarse en las llamadas Etherium Virtual Machines. 
            
            En este sentido, hay que tener en cuenta que los contratos inteligentes los podemos programar de forma local en nuestro propio ordenador para luego expandirlos en la red Etherium de forma 100% descentralizada. De esa manera, el contrato jamás estará en nuestro servidor, sino que se mantiene en todos los equipos de la blockchain.  </h1></p>

    </div>
    
    
</body>
</html>