<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= titulo %> </title>
    <%- include ('partials/header') %>  <!-- enlace al archivo de header -->
</head>
<body>
    <%- include ('partials/navegacion') %>  <!-- enlace al archivo de navegacion -->
    
    <div Class="Textodiv">

        <h1> Puedes  comunicarte a las siguientes redes:</h1>

        <nav class="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://x.com/DrawsShudo">
                <img src="/img/logox.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                X
              </a>
            </div>
          </nav>
    </div>



</body>
</html>