<footer>

<h1> Quality es un proyecto en desarrollo, si quieres saber más contáctanos</h1>

<nav class="navbar bg-body-tertiary navbar-clear">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://x.com/DrawsShudo">
        <img src="/img/logox.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        X
      </a>
    </div>
  </nav>
</footer>